#!/usr/bin/env bash
set -euo pipefail

# ローカル環境をカスタマイズするためのサンプルスクリプト

user=${1:?not set user}
mail=${2:-some@example.com}

run() {
  printf '+ '; printf '%q ' "$@"; printf '\n'
  "$@"
}

echo run postCreateCommand.local.sh
run git config --global user.name "$user"
run git config --global user.email "$mail"
